
@font-face {
  font-family: "Trajan";
	src: url(TrajanPro-Regular.ttf) format('truetype');
}
body {
	  background-color: Black;
		margin: 0px;
		padding:0px;
    position: absolute;
		text-align:center;
    top: 0; left:0;
		width:100%;
		overflow:hidden;
}


canvas {
		margin: 0px;
		padding: 0px;
    top: 50%;
		z-index:2;
}

#menu{
	font-size : 48;
	left: 0%;
	color:white;
	text-align:center;
	font-family: Trajan;
	line-height:36px;
	z-index:5;
  user-select: none;
	cursor: pointer;
	    font-size: 4.5vw;


}
#OG {
	position:absolute;
	padding-top:2%;
	display:inline;
	right : 2%;
	z-index:5;
}
#drawable {
	position:absolute;
	padding-top:2%;
	display:inline;
	left : 2%;
	z-index:5;
}


#creds{
	font-family: Trajan;
	font-size:24px;
	color:white;
	position:relative;
	    font-size:1.75vw;
}
#gifit{
	position:absolute;
	padding-top:2%;
	display:inline;
	left : 2%;

}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
