
@font-face {
  font-family: "Trajan";
	src: url(TrajanPro-Regular.ttf) format('truetype');
}
body {
	  background-color: Black;
		margin: 0px;
		padding:0px;
    position: absolute;
		text-align:center;
    top: 0; left:0;
		width:100%;
		overflow:hidden;
}


canvas {
		margin: 0px;
		padding: 0px;
    top: 50%;
		z-index:2;
}

#menu{
	font-size : 48;
	left: 0%;
	color:white;
	text-align:center;
	font-family: Trajan;
}
#OG {
	position:absolute;
	padding-top:2%;
	display:inline;
	right : 2%;
	cursor: pointer;
	z-index:5;
}
#drawable {
	position:absolute;
	padding-top:2%;
	display:inline;
	left : 2%;
	cursor: pointer;
	z-index:5;
}


#creds{
	font-family: Trajan;
	font-size:24px;
	color:white;
	position:relative;
}
#gifit{
	position:absolute;
	padding-top:2%;
	display:inline;
	left : 2%;
	cursor: pointer;
	z-index:5;

}
